<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZabbixApi.url" value="http://10.60.240.225/zabbix/zabbix.php?action=dashboard.view" />
    <add key="ZabbixApi.user" value="PKK" />
    <add key="ZabbixApi.password" value="Thedestroyer123!" />
  </appSettings>
</configuration>